pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Date",
					"value": {
						"value": "@convertFromUtc(utcnow(), 'E. Australia Standard Time')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"additionalColumns": [
							{
								"name": "Date",
								"value": {
									"value": "@variables('Date')",
									"type": "Expression"
								}
							}
						],
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "RestResource1",
						"type": "DatasetReference",
						"parameters": {
							"AdminAPI": {
								"value": "admin/groups?$expand=users, reports, dashboards, datasets, dataflows, workbooks&$filter=(state ne ‘Deleted’)&$top=500",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Json1",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "Raw/Power BI/inventory/@{formatDateTime(variables('Date'), 'yyyy')}/@{formatDateTime(variables('Date'), 'MM')}",
								"type": "Expression"
							},
							"PathName": {
								"value": "Raw/Power BI/inventory/@{formatDateTime(variables('Date'), 'yyyy')}/@{formatDateTime(variables('Date'), 'MM')}",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"variables": {
			"Date": {
				"type": "String"
			}
		},
		"annotations": []
	}
}